/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-color: #20123a;
  color: #fff;
}

#clientBox {
  padding: 10px 0 15px;
}

#leftBox {
  background-image: url("chrome://branding/content/about-logo.png");
  background-repeat: no-repeat;
  background-size: 192px auto;
  background-position: center 20%;
  /* min-width and min-height create room for the logo */
  min-width: 210px;
  min-height: 210px;
  margin-top: 20px;
  margin-inline-start: 30px;
}

@media (min-resolution: 2dppx) {
  #leftBox {
    background-image: url("chrome://branding/content/about-logo@2x.png");
  }
}

.text-link {
  color: #fff !important;
  text-decoration: underline;
}

.text-link:-moz-focusring {
  border-color: #fff;
}

#rightBox {
  margin-inline: 30px;
  padding-top: 64px;
}

#rightBox:-moz-locale-dir(rtl) {
  /* tor-browser#42319: re-align the background image after we added some
  padding to make all the channel use the same size for the wordmark.
  We can remove this it if we stop making the resource accessible from content
  (tor-browser#29745) */
  background-position: right -34px top 0;
}

#bottomBox {
  background-color: hsla(235, 43%, 10%, .5);
  padding: 15px 10px 15px;
}
